<div class="row">
	<div class="col-xs-6">
		<pre>user/user - admin/password</pre>
	</div>
</div>

<div class="row">
	
	<div class="col-xs-6">
		
		<input ng-model="username" class="form-control" type="text" placeholder="username"> 
		
		<input ng-model="password" class="form-control" type="password" placeholder="password">
		
		<button ng-click="login()" type="button" class="btn btn-primary btn-lg btn-block">Sign in</button>
		
		
	</div>

</div>

<div class="row">
	<div class="col-xs-6">
		<pre>{{mensaje.data.message}}</pre>
	</div>
</div>